.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.icon-large {
  height: 3em;
  width: 3em;
}

.icon-with-invisible-text {
  text-indent: -9999px;
}

.icon-with-visible-text {
  margin-right: .25em;
}

.icon-with-visible-text-before {
  margin-left: .25em;
}

@import 'icons-png';
.svg {
  @import 'icons-svg';
}

