@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

// Media query variables
$small:  25em; //* 400px */
$medium: 43em; //* 700px */
$big:    56em; //* 900px */
$large:  81em; //* 1300px */

// W3C Colours
$w3c_paleblue: #f1f7fb;
$w3c_blue: #005A9C;
$w3c_purple: #003366;
$w3c_fg: #ffffff;
$wai_bg: #fffaf5;
$wai_fg: black;
$wai_link: #003366;
$wai_link_visited: #660033;
$wai_link_active: #003366;
$wai_red: #993300;
$wai_grey_bg: #e0e0e0;
$wai_grey: #333333;

@import "normalize";
@import "helpers";
@import "permalink";
@import "contribute";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "wai-style-changes";
@import "wai-print-style";

.font-primary {
	font-family: "Trebuchet MS", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}
.font-secondary {
	font-family: Georgia, Times, "Times New Roman", serif;
}

i {
  margin-right: 0.5em;
}

.right-inset {
  background-color: $wai_bg;
  padding: 1em 0;
  @include mq($small) {
    float: none;
    width: auto;
  }
  @include mq($medium) {
    float: right;
    width: 27%;
    padding: 1em 0 1em 1em;
  }

  nav {
    margin-bottom: 1em;
    background: lighten($wai_grey_bg, 5%);
    padding: 1em;
    border-radius: 3px;
    p {
      margin: 0 0 0.5em 0;
      font-size: 130%;
      font-weight: bold;
    }
    h2 {
      @extend .visuallyhidden;
    }
    ul {
      margin-bottom: 0;
      li {
        padding: 0;
        &.current {
          font-weight: bold;
          &:before {
            color: $wai_red;
            content: "»";
            font-size: 150%;
            left: 0;
            position: absolute;
          }
          span {
            @extend .visuallyhidden;
          }
        }
      }
    }
    a {
      text-decoration: none;
      color: $wai_link_active !important;
      &:hover, &:focus {
        text-decoration: underline;
      }
      i {
        text-decoration: none;
      }
    }
    &.activity {
      ul {
        list-style-type: square;
        padding-left: 2.2em;
      }
    }
  }
}

#main .inner {
  h2 {
    margin-bottom: 0;
    margin-top: 1em;
  }
  ul.toc {
    margin-bottom: 2em;
    li {
      margin-bottom: 0.1em;
    }
  }
  article {
    margin-bottom: 2em;
    .permalink-wrapper {
      .attach_permalink {
        padding-right: 2.8em;
      }
      .permalink {
        background: $wai_bg;
        
        .sharebox {
         font-size: 120%; 
        }
      }
    }
    > div:last-of-type {
      padding-bottom: 1em;
    }
    h3 {
      color: $wai_fg;
    }
  }
  
  li {
    margin-bottom: 0.5em;
  }

  .grid {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    >li {
      margin-bottom: 2em;
      p:first-of-type {
        font-size: 150%;
      }
    
      ul {
        margin-left: 0;
        padding-left: 1.5em;
        list-style-type: disc;
        li {
          text-align: left;
        }
      }
    }
  
    a {
      text-decoration: none;
      color: $wai-link;
      &:hover, &:focus {
        color: $wai_link_visited;
        text-decoration: underline;
      
      }
    }
  }
  @include mq($medium) {
    .grid {
      padding: 0 1em;
    }
  }
  @include mq($big) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      >li {
        width: 45%;
      }
    }
  }
  @include mq($large) {
    .grid {
      >li {
        width: 25%;
      }
    }
  }

  .support-material {
    ul {
      margin-top: 0.5em;
      li {
        margin-bottom: 0;
      }
    }
    h3 {
      color: $wai_fg;
      font-size: 110%;
      margin: 0 0 0.5em 0;
    }
    .related {
      ul {
        @extend .fa-ul;
    	margin-left: 2.75em;
      }
    }
  }

  .categories, .activities {
    position: relative;
    @include mq($medium) {
      h2 {
        width: 32%;
        border-bottom: none !important;
        margin-right: 3%;
      }
      h3 {
        width: 30%;
      }
      p {
        width: 65%;
      }
    }
  }
  
  ul {
    li {
      p {
        margin: 0 0 0.5em 0;
      }
      p:first-of-type {
        margin-bottom: 0.25em;
      }
    }
  }
  
  @include mq($medium) {
    article:first-of-type {
      .f_panelHead {
        margin-right: 28%;
      }
    }
  }

  .f_panelHead {
    border-bottom: none;
    overflow: visible;
    position: relative;
    .f_expanderWrapper {
      margin-top: 0.1em;
      position: absolute;
      float: none;
      top: 0;
      left: 0;
    }
    h2 {
      border-bottom: 2px transparent solid;
    }
    &.fs_hover, &.fs_focus {
      h2 {
        border-bottom-color: $wai_fg;
      }
    }
    > p {
      margin: 0;
    }
    + * {
      margin-left: 1.1em;
    }
  }
}

.contribute {
  clear: right;
}

@media print {
  .f_controls_accordion, .f_expanderWrapper {
    display: none;
  }
  .f_panelHead {
    h2, p, & + * {
      margin-left: 0 !important;
      padding-left: 0 !important;
    }
  }
}