@-ms-viewport { width: device-width; } @-o-viewport { width: device-width; } @viewport { width: device-width; }

// MQ-Variables

$small:  25em; //* 400px */
$medium: 43em; //* 700px */
$big:    56em; //* 900px */
$large:  81em; //* 1300px */

// Grid systems variable

$total_columns:     12;         //              //
$total_width:       100%;      // px|100%      // px = fixed, 100% = fluid
$gutter_width:      2%;         // px|%         // px = fixed, % = fluid
$container_margin:  0.5%;         // auto|px|%    //

@import "wai_style";

section {
  margin: 0 auto;
  @include mq($small) {
    width: $small;
  }
  @include mq($medium) {
    width: $medium;
  }
  .introduction {
    font-size: 120%;
  }
}

.categories, .activities {
  position: relative;
  margin: 0 auto;
  @include mq($small) {
    width: $small;
  }
  @include mq($medium) {
    width: $medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
      margin-bottom: 2em;
      width: 45%;
    }
  }
}

h2.icon {
  background-position: left 0.2em;
  background-size: 1em;
  padding-left: 1.2em;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
}

.activity {
  .inner {
    position: relative;
    @include mq($medium) {
      display: flex;
    }
    aside {
      li {
        p:first-child {
          margin-bottom: 0;
        }
        @include mq($medium) {
          font-size: 90%;
        }
      }
    }
    .yield {
      @include mq($medium) {
        width: $medium/1.618;
        padding-right: 2em;
      }
    }
    .support_material {
      @include mq($medium) {
        width: $medium - ($medium/1.618) - 1em;
      }
    }
  }
}