<%= partial "layouts/header" %>

<main role="main" class="content">
  <section role="region">
	  <div class="inner ">
	    <%= yield %>
	  </div>
  </section>
</main>

<%= partial "layouts/contribute" %>

<%= partial "layouts/footer" %>